* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url('./portfolioimg/b1.png'), url('./portfolioimg/bg1.jpeg') !important;
    background-size: 50% 100%, cover;
    background-position: right, center;
    background-repeat: no-repeat, no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 71%, 46% 100%, 0 74%);


}

.logo {
    color: white;
    font-size: 50px;
    padding-left: 100px;
    letter-spacing: 5px;

}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}

.menu {
    margin-right: 100px;
}

nav {
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    color: rgb(97, 5, 5)
}

.menu a:hover {
    background: red;
    transition: 0.5;
}

.text {
    color: aliceblue;
    margin-top: 100px;
    margin-left: 100px;
    max-width: 450px;
}

.text h1 {
    font-size: 50px;
    margin: 10px 0px;
}

.text p {
    font-size: 25px;
}

.c-btn {
    border: none;
    outline: none;
    color: whitesmoke;
    background-color: red;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

#about {
    padding: 100px 50px;

}

.section-info {
    font-weight: bold;
    text-align: center;
}

.section-info h1 {
    font-size: 25px;
}

.section-info p {
    font-size: 25px;
    color: red;
}

.about-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-col {
    flex-basis: 50%;
}

.about-left-col img {
    width: 100%;
    padding: 50px;
}

.about-right-col {
    flex-basis: 50%;
}

#p-title {
    font-size: 20px;
    font-weight: bold;

}

.about-right-col p {
    font-size: 20px;
    text-align: justify;
}

#skills {
    padding: 100px 50px;
    background-image: url('./portfolioimg/bg2.jpg');
    background-size: cover;
    color: white;
    background-attachment: fixed;

}

.skills-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(45, 52, 54);
    padding: 50px;
}

.skills-left-col {
    flex-basis: 50%;
    text-align: justify;

}

.skills-left-col p {
    font-size: 20px;
}

.skills-right-col {
    flex-basis: 50%;
}

progress {
    width: 80%;

}

.progress-div {
    width: 70%;
    margin: auto;
}

.progress-div p {
    margin-bottom: 10PX;
    font-size: 20px;
    padding-left: 80px;
    text-align: justify;
}

#services {
    padding: 100px 50px;
}

.services-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.services-box {
    flex-basis: 25%;
    text-align: center;
    box-shadow: 2px 3px 5px grey;
    padding: 20px;
    margin-top: 20px;
}

.services-box:hover {
    background: #ee1f08;
    color: aliceblue;
    transition: 0.4s;
}

.services-box img {
    width: 60%;
}

#contact {
    padding: 100px 50px;
    background: linear-gradient(160deg, #e74c3c 45%, white 0%);
}

.contact-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-left-col {
    flex-basis: 50%;
}

.contact-right-col {
    flex-basis: 50%;
}

.contact-right-col form {
    text-align: center;
}

.contact-right-col form h2 {
    margin-bottom: 20px;
}

.contact-right-col form input {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-right-col form textarea {
    width: 60%;
    padding: 10px;
}

#footer {
    background: #e74c3c;
    color: aliceblue;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

@media only screen and (max-width: 770px) {

    header {
        background: url(./portfolioimg/bg1.jpeg);
        background-size: cover;
    }

    .menu a {
        display: none;
    }

    .logo {
        padding-left: 50px;
    }

    .text {
        margin-left: 50px;
    }

    .about-left-col {
        flex-basis: 100%;
    }


    .about-left-col img {
        width: 100%;
        padding: 50px;
    }


    .skills-left-col {
        flex-basis: 100%;

    }

    .skills-right-col {
        flex-basis: 100%;

    }

    .about-right-col {
        flex-basis: 100%;
    }

    .progress-div {
        width: 100%;
        margin: auto;
        padding-top: 100px;

    }

    progress {
        width: 80%l
    }

    .progress-div p {
        margin-bottom: 10PX;
        font-size: 20px;
        padding-left: 40px;
        text-align: justify;
    }

    .services-box {
        flex-basis: 100%;
        margin-top: 20px;
    }

    .services-box img {
        width: 60%
    }

    .contact-left-col {
        flex-basis: 100%;
    }

    .contact-right-col {
        flex-basis: 100%;
    }
}